<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herbarium database</title>
    <link rel="stylesheet" href="https://latex.now.sh/style.min.css" />
</head>
<body>

    <h1>Herbarium database</h1>

    <ol>
    {% for plant in plants %}
        <li><a href="{{ url_for('edit', plant_id=plant.id) }}" title="{{ plant.description }}">{{ plant.name }}</a>
            ({{ plant.catalog }})
            <a href="{{ url_for('delete', plant_id=plant.id) }}"
                onclick="return confirm('{{ plant.name }} will be deleted from catalog {{ plant.catalog }}. Are you sure?')"
            ><button type="button">🗑</button></a>
        </li>
    {% endfor %}
    </ol>

    <a href="{{ url_for('new') }}"><button type="button">New plant</button></a>
    <a href="{{ url_for('generate_latex') }}"
        onclick="return confirm('This will regenerate the catalog documents, then commit and push them to GitLab. Continue?')"
    ><button type="button">Generate LaTeX</button></a>

    <footer>
        <p><a href="https://fabio05.gitlab.io/herbarium/">Project website</a></p>
    </footer>

</body>
</html>
